 <!-- Header-->
<div id="main" class="bg-dark text-center" >
     <header style="height: 380px; width: 100%;  " class="banner py-5 text-center">
        <div class="container px-4 px-lg-5 ">
            <div class=" text-dark text-center  ">
                <h1 class="display-5 fw-bolder">Shop in style</h1>
                <p class="lead fw-bolder text-dark-50 mb-0">With <span class="bg-light rounded fw-bolder fs-3 ">E-Cart</span></p>
            </div>
        </div>
    </header>
</div>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div *ngFor="let Product of AllProducts |filter : searchTerm :'title' " class="col mb-5">
                <div  class="card h-100 p-2">
                    <!-- Product image-->
                    <img  height="300px" class="card-img-top" [src]="Product.image" [alt]="Product.title" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{Product.title.slice(0,25)}}.. </h5>
                            <!-- Product price-->
                            ${{Product.price}}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center d-flex justify-content-evenly">
                            <!-- view option -->
                            <a class="btn btn-warning mt-auto" routerLink="view-product/{{Product.id}}"><i class="fa-solid fa-eye text-light"></i></a>
                            <!-- add to cart -->
                            <button (click)="addToCart(Product)" class="btn btn-success">
                                <i class="fa-solid fa-cart-plus text-light"></i>

                            </button>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</section>